{% extends "index.html" %}

{% block comment %}
<script src="https://giscus.app/client.js" data-repo="raifthenerd/raifthenerd.github.io" data-repo-id="R_kgDOGkX-xw"
    data-category="Comments" data-category-id="DIC_kwDOGkX-x84CAY8r" data-mapping="pathname" data-reactions-enabled="1"
    data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="en" crossorigin="anonymous" async>
    </script>
{% endblock comment %}

{% block content %}
<section class="section">
    <article class="container is-max-widescreen">
        <div class="columns is-variable is-8-widescreen">
            <header class="column">
                <h1 class="title is-2">{{ page.title }}</h1>
                <p class="subtitle is-6">
                    <time datetime="{{ page.date }}">{{ page.date }}</time>
                </p>
                <hr>
            </header>
        </div>
        <div class="columns is-variable is-8-widescreen">
            {% if page.toc %}
                <aside class="menu column is-one-quarter is-one-third-widescreen is-hidden-touch">
                    <p class="menu-label title">Table of Contents</p>
                    <ul class="menu-list">
                        {% for heading in page.toc %}
                            <li>
                                <a href="{{ heading.permalink | safe }}">{{ heading.title }}</a>
                                {% if heading.children %}
                                <ul>
                                    {% for subheading in heading.children %}
                                    <li><a href="{{ subheading.permalink | safe }}">{{ subheading.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
            <div class="content column">
                {{ page.content | safe }}
            </div>
        </div>
        <div class="columns is-variable is-8-widescreen">
            <article class="giscus column"></article>
        </div>
    </article>
</section>
{% endblock content %}
