{% extends "index.html" %}

{% block content %}
<section class="section">
    <article class="container is-max-widescreen">
        <div class="columns is-multiline is-variable is-8-widescreen">
            <header class="column is-full">
                <h1 class="title is-2">{{ section.title }}</h1>
                <hr>
            </header>
            {% if section.toc %}
                <aside class="menu column is-one-quarter is-one-third-widescreen is-hidden-touch">
                    <p class="menu-label title">Table of Contents</p>
                    <ul class="menu-list">
                        {% for heading in section.toc %}
                            <li>
                                <a href="{{ heading.permalink | safe }}">{{ heading.title }}</a>
                                {% if heading.children %}
                                <ul>
                                    {% for subheading in heading.children %}
                                    <li><a href="{{ subheading.permalink | safe }}">{{ subheading.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}
            <div class="content column">
                {{ section.content | safe }}
            </div>
        </div>
    </article>
</section>
{% endblock content %}
